body{
    background-color: #E9E9E9;
}

#mapa-ubicacion {
    width: 100%;
    height: 500px;
}

.inmueble-tab-container{
    padding: 20px;
}

.row-botonera-inferior{
    padding-bottom: 20px;
    padding-top: 20px;
}

.hidden-field, .hidden {
    display: none;
}

.top-admin-row{
    margin-bottom: 10px;
}

#side-menu > li.active {
    text-decoration: none;
    background-color: #eee;
}

#side-menu > li.active > ul > li.active {
    background-color: #DBDBDB;
}

.img-circle{
    width: 50px;
}

.panel-clickleable:hover {
    cursor: pointer;
}

#ErrorMessagePanel, #SuccessMessagePanel{
    margin-top: 40px;    
}

#SuccessMessagePanel > div > div.footer {
    padding-top: 20px;
    padding-bottom: 10px;
}

.profile-photo {
    max-width: 149px;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 10px;    
}

.nav .profile-photo {
    max-width: 30px;
    float: left;
    margin-top: 0px !important;
}